In [1]:
import logging
import pandas as pd
import oandapy as opy
from datetime import datetime as dt
from sqlalchemy import create_engine


def get_instrument_history(instrument,
              granularity,
              start,
              end,
              candleformat,
              freq,
              trading=False):
    """
    Oanda FX historical data

    Args:
        instrument (str): Objective instrument
        granularity (str): Time Window
        start (str): First day
        end (str): Last day
        candleformat (str): 'bidask' or 'midpoint'
        freq (str): Timeframe
        trading (bool): If trading
    Returns:tqdm
        df (DataFrame)
    """

    oanda = opy.API(environment='live')

    dates = pd.date_range(start=start, end=end, freq=freq)
    df = pd.DataFrame()

    if trading:
        data = oanda.get_history(instrument=instrument,
                                     candleFormat=candleformat,
                                     since=start,
                                     granularity=granularity)
        df = pd.DataFrame(data['candles'])
    else:

        for i in range(0, len(dates) - 1):
            d1 = str(dates[i]).replace(' ', 'T')
            d2 = str(dates[i+1]).replace(' ', 'T')
            try:
                data = oanda.get_history(instrument=instrument,
                                         candleFormat=candleformat,
                                         start=d1,
                                         end=d2,
                                         granularity=granularity)

                df = df.append(pd.DataFrame(data['candles']))
            except:
                pass

    date = pd.DatetimeIndex(df['time'])
    df['time'] = date

    return df

def save_instrument_history():

    candleformat = 'bidask'
    instrument = 'USD_JPY'
    granularity = 'H1'
    start = '2008-01-01'
    end = str(dt.now())[:12]
    freq = '5D'
    trading = False

    data = get_instrument_history(instrument,
                      granularity,
                      start,
                      end,
                      candleformat,
                      freq,
                      trading=trading)

    engine = create_engine('postgresql://dud:dud@localhost:5432/duddb')
    data.to_sql('dudtablename', engine)

In [2]:
from datetime import datetime as dt

In [3]:
candleformat = 'bidask'
instrument = 'USD_JPY'
               
granularity = 'M15'
start = '2008-01-01'
end = str(dt.now())
freq = '5D'
trading = True

In [4]:
ih_df = get_instrument_history(instrument,
              granularity,
              start,
              end,
              candleformat,
              freq,
              trading=trading)

In [5]:
ih_df.drop(columns="complete", inplace=True)

In [14]:
import os
import sys
import pytz
from datetime import datetime as dt
import logging
import argparse
from check_market import market_open
from trade.logic import Decide
from trade.openTrades import openTrades
from trade.trade import Trade
from trading import Trading
from trade.order import Order
from send_predictions.telegram_send import telegram_bot
from send_predictions.email_send import send_email, create_html, from_html_to_jpg, make_image

sys.path.append('./src/assets/')
sys.path.append('./src')

# Setup logging
logging.basicConfig(
    format='%(asctime)s - %(levelname)s - %(message)s',
    datefmt='%m/%d/%Y %I:%M:%S %p',
    level=logging.INFO,
    filename='/tmp/log_test.txt'
)


tz_MX = pytz.timezone('America/Mexico_City')
datetime_MX = dt.now(tz_MX)

hora_now = f'{datetime_MX.strftime("%H:%M:%S")}'    

parser = argparse.ArgumentParser(description='Apollo V 0.1 Beta')

parser.add_argument('-o', '--order', action='store_true',
                    help='Determine if you want to make an order')
parser.add_argument('-t', '--time', action='store_true',
                    help='Make order only if market is open')
parser.add_argument('-m', '--model-version',
                    help='Model version folder simple name')
parser.add_argument('-i', '--instrument',
                    help='instrument to trade')
parser.add_argument('-a', '--account',
                    help='suffix of account to trade')

args, unknown = parser.parse_known_args()
#args = parser.parse_args()
make_order = args.order or False
market_sensitive = args.time or False
model_version = args.model_version
instrument = "USD_JPY"
account = args.account

trading = Trading(model_version,instrument)
op_buy, op_sell, original_dataset = trading.predict()

logging.info(f'\nMarket sensitive: {market_sensitive}')
if market_sensitive and not market_open():
    logging.info('Market Closed')

initial_pip = 100
# Hacer decisón para la posición
decision = Decide(op_buy, op_sell, 100000, direction=0,
                  pips=initial_pip, take_profit=0)
decision.get_all_pips()
units = decision.pips * decision.direction * 1000

# máximo de unidades en riesgo al mismo tiempo

pip_limit = 1000#3#float(os.environ['pip_limit'])


inv_instrument = 'USD_JPY'
take_profit = decision.take_profit
op_buy_new = decision.data_buy
op_sell_new = decision.data_sell

print(f'inv_instrument: {inv_instrument}')
print(f'take_profit: {take_profit}')

logging.info(f'\n{decision.decision}')

Using TensorFlow backend.
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/franserr/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
08/24/2020 03:36:34 PM - INFO -

************* Inicio **************
08/24/2020 03:36:34 PM - INFO - ************* Carga de modelos **************
08/24/2020 03:36:34 PM - INFO - ************* Cargando Modelos (models_1h) Gradient Boosting (High)**************
08/24/2020 03:36:34 PM - INFO - ************* Cargando Modelos (models_1h) Gradient Boosting (Low)**************
08/24/2020 03:36:34 PM - INFO - ************* Descargando datos **************
08/24/2020 03:36:37 PM - INFO - ************* Cargando Variables **************
08/24/2020 03:36:37 PM - INFO - ************* Obteniendo Datos **************
08/24/2020 03:36:37 PM - INFO - USD_JPY
08/24/2020 03:36:38 PM - INFO - USB02Y_USD
08/24/2020 03:36:38 PM - INFO - USB05Y_USD
08/24/2020 03:36:39 PM - INFO - USB10Y_USD
08/24/2020 03:36:39 PM - INFO - USB30Y_USD
08/24/2020 03:36:39 PM - INFO - UK100_GBP
08/24/2020 03:36:40 PM - INFO - UK10YB_GBP
08/24/2020 03:36:40 PM - INFO - JP225_USD
08/24/2020 03:36:40 PM - INFO - HK33_HKD
08/24/2020 03:36:41 PM - INFO - EU50_EUR
08/24/2020 03:36:41 PM - INFO - DE30_EUR
08/24/2020 03:36:41 PM - INFO - DE10YB_EUR
08/24/2020 03:36:41 PM - INFO - WTICO_USD
08/24/2020 03:36:42 PM - INFO - US30_USD
08/24/2020 03:36:42 PM - INFO - SPX500_USD
08/24/2020 03:36:43 PM - INFO - NL25_EUR
08/24/2020 03:36:43 PM - INFO - FR40_EUR
08/24/2020 03:36:43 PM - INFO - AU200_AUD
08/24/2020 03:36:44 PM - INFO - US2000_USD
08/24/2020 03:36:44 PM - INFO - XAU_USD
08/24/2020 03:36:44 PM - INFO - AUD_USD
08/24/2020 03:36:45 PM - INFO - GBP_USD
08/24/2020 03:36:45 PM - INFO - USD_CAD
08/24/2020 03:36:46 PM - INFO - USD_CHF
08/24/2020 03:36:46 PM - INFO - EUR_USD
08/24/2020 03:36:47 PM - WARNING - (None):loop of ufunc does not support argument 0 of type Timestamp which has no callable log method

USD_JPY_date

08/24/2020 03:36:47 PM - INFO - ************* Procesando Datos **************
08/24/2020 03:36:49 PM - INFO - ************* Escalando Datos **************
08/24/2020 03:36:49 PM - INFO - Xh:42
08/24/2020 03:36:49 PM - INFO - ************* Haciendo predicciones **************
08/24/2020 03:36:49 PM - INFO -
Market sensitive: False
08/24/2020 03:36:49 PM - INFO -

Neutral

Buy:
Buy Gain: $7.55
Probability: 57.99%
Last Best Buy Price: $105.995

Sell:
Sell Gain: $0.0
Probability: 78.46%
Last Best Sell Price: $105.974

Spread: $13.0

Searching for best Buy strategy(TP):

Searching for best Sell strategy(TP):

Nuevo candidato:
Best_action:
Open                     105.974000
Take Profit              105.974000
Probability                0.784598
Expected Profit (100)      0.000000
Name: Sell-2, dtype: float64
Best Action Buy:
Open                     105.987000
Take Profit              105.995000
Probability                0.579867
Expected Profit (100)      7.550000
Name: Buy-1, dtype: float64
Best Action Sell:
Open                     105.974000
Take Profit              105.974000
Probability                0.784598
Expected Profit (100)      0.000000
Name: Sell-2, dtype: float64
inv_instrument: USD_JPY
take_profit: 0

In [ ]:
dir(decision)

In [17]:
decision.data_buy

          Open  Take Profit  Probability  Expected Profit (100)
Buy-6  105.987          NaN          NaN                    NaN
Buy-5  105.987          NaN          NaN                    NaN
Buy-4  105.987          NaN          NaN                    NaN
Buy-3  105.987          NaN          NaN                    NaN
Buy-2  105.987          NaN          NaN                    NaN
Buy-1  105.987      105.995     0.579867                   7.55
Buy0   105.987      106.006     0.455764                  17.92
Buy1   105.987      106.017     0.396328                  28.30
Buy2   105.987      106.027     0.303150                  37.73
Buy3   105.987      106.038     0.205149                  48.10
Buy4   105.987      106.048     0.151593                  57.52
Buy5   105.987      106.059     0.139536                  67.89
Buy6   105.987      106.070     0.129984                  78.25

In [22]:
decision.data_sell["Open"][0]

105.974

In [16]:
decision.decision

'\nNeutral \n\nBuy:\nBuy Gain: $7.55\nProbability: 57.99%\nLast Best Buy Price: $105.995\n\nSell:\nSell Gain: $0.0\nProbability: 78.46%\nLast Best Sell Price: $105.974\n\nSpread: $13.0'

In [ ]:
decision.take_profit

In [ ]:
decision.pips

In [ ]:
Decide.get_all_pips

In [ ]:
decision.get_all_pips

In [ ]:
take_profit = decision.take_profit
op_buy_new = decision.data_buy
op_sell_new = decision.data_sell

In [15]:
dir(decision)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'data_buy',
 'data_sell',
 'decision',
 'direction',
 'get_all_pips',
 'get_best_action',
 'pips',
 'spread',
 'take_profit']

In [23]:
decision.direction

0

In [24]:
decision.pips

100

In [25]:
account = "TESTT"

In [26]:
account_type = "test"

In [42]:
def save_decisions(account=account, model=model_version, instrument=inv_instrument, decision=decision):
    account_type = "test"#os.environ["trading_url_"]
    ask = decision.data_buy["Open"][0]
    bid = decision.data_sell["Open"][0]
    prediction_used = decision.decision
    probability = decision.decision
    stop_loss = decision.decision
    take_profit = decision.take_profit
    spread = decision.spread
    time = dt.now()
    pips = decision.pips
    trade = decision.direction
    engine = create_engine('postgresql://postgres:prophets123@35.226.116.93:5432/trading')

    data = pd.DataFrame({"account": account,
                         "account_type": account_type,
                         "ask": ask,
                         "bid": bid,
                         "instrument": instrument,
                         "model": model,
                         "prediction_used": prediction_used,
                         "probability": probability,
                         "stop_loss": stop_loss,
                         "take_profit": take_profit,
                         "time": time,
                         "trade": trade}, index=["test"])
    data.to_sql('trades_monitoring', engine, if_exists="append")

In [43]:
model_version

In [44]:
save_decisions(account=account, model=model_version, instrument=inv_instrument, decision=decision)

In [6]:
ih_df.head()

,time,openBid,openAsk,highBid,highAsk,lowBid,lowAsk,closeBid,closeAsk,volume
0,2020-08-17 10:00:00+00:00,106.353,106.367,106.378,106.393,106.327,106.341,106.346,106.360,729
1,2020-08-17 10:15:00+00:00,106.344,106.359,106.358,106.372,106.312,106.325,106.319,106.333,563
2,2020-08-17 10:30:00+00:00,106.316,106.333,106.363,106.377,106.315,106.330,106.329,106.342,637
3,2020-08-17 10:45:00+00:00,106.330,106.343,106.366,106.377,106.304,106.315,106.353,106.366,811
4,2020-08-17 11:00:00+00:00,106.352,106.365,106.371,106.386,106.315,106.329,106.363,106.377,683

In [10]:
engine = create_engine('postgresql://postgres:prophets123@35.226.116.93:5432/trading')
ih_df.to_sql('trades', engine, if_exists="append")

ProgrammingError: (psycopg2.ProgrammingError) column "index" of relation "trades" does not exist
LINE 1: INSERT INTO trades (index, time, "openBid", "openAsk", "high...
                            ^

[SQL: INSERT INTO trades (index, time, "openBid", "openAsk", "highBid", "highAsk", "lowBid", "lowAsk", "closeBid", "closeAsk", volume) VALUES (%(index)s, %(time)s, %(openBid)s, %(openAsk)s, %(highBid)s, %(highAsk)s, %(lowBid)s, %(lowAsk)s, %(closeBid)s, %(closeAsk)s, %(volume)s)]
[parameters: ({'index': 0, 'time': datetime.datetime(2020, 8, 17, 10, 0, tzinfo=<UTC>), 'openBid': 106.353, 'openAsk': 106.367, 'highBid': 106.378, 'highAsk': 106.393, 'lowBid': 106.327, 'lowAsk': 106.341, 'closeBid': 106.346, 'closeAsk': 106.36, 'volume': 729}, {'index': 1, 'time': datetime.datetime(2020, 8, 17, 10, 15, tzinfo=<UTC>), 'openBid': 106.344, 'openAsk': 106.359, 'highBid': 106.358, 'highAsk': 106.372, 'lowBid': 106.312, 'lowAsk': 106.325, 'closeBid': 106.319, 'closeAsk': 106.333, 'volume': 563}, {'index': 2, 'time': datetime.datetime(2020, 8, 17, 10, 30, tzinfo=<UTC>), 'openBid': 106.316, 'openAsk': 106.333, 'highBid': 106.363, 'highAsk': 106.377, 'lowBid': 106.315, 'lowAsk': 106.33, 'closeBid': 106.329, 'closeAsk': 106.342, 'volume': 637}, {'index': 3, 'time': datetime.datetime(2020, 8, 17, 10, 45, tzinfo=<UTC>), 'openBid': 106.33, 'openAsk': 106.343, 'highBid': 106.366, 'highAsk': 106.377, 'lowBid': 106.304, 'lowAsk': 106.315, 'closeBid': 106.353, 'closeAsk': 106.366, 'volume': 811}, {'index': 4, 'time': datetime.datetime(2020, 8, 17, 11, 0, tzinfo=<UTC>), 'openBid': 106.352, 'openAsk': 106.365, 'highBid': 106.371, 'highAsk': 106.386, 'lowBid': 106.315, 'lowAsk': 106.329, 'closeBid': 106.363, 'closeAsk': 106.377, 'volume': 683}, {'index': 5, 'time': datetime.datetime(2020, 8, 17, 11, 15, tzinfo=<UTC>), 'openBid': 106.364, 'openAsk': 106.378, 'highBid': 106.381, 'highAsk': 106.395, 'lowBid': 106.335, 'lowAsk': 106.348, 'closeBid': 106.335, 'closeAsk': 106.348, 'volume': 748}, {'index': 6, 'time': datetime.datetime(2020, 8, 17, 11, 30, tzinfo=<UTC>), 'openBid': 106.335, 'openAsk': 106.351, 'highBid': 106.362, 'highAsk': 106.376, 'lowBid': 106.309, 'lowAsk': 106.322, 'closeBid': 106.332, 'closeAsk': 106.344, 'volume': 780}, {'index': 7, 'time': datetime.datetime(2020, 8, 17, 11, 45, tzinfo=<UTC>), 'openBid': 106.333, 'openAsk': 106.345, 'highBid': 106.342, 'highAsk': 106.356, 'lowBid': 106.262, 'lowAsk': 106.275, 'closeBid': 106.277, 'closeAsk': 106.29, 'volume': 969}  ... displaying 10 of 500 total bound parameter sets ...  {'index': 498, 'time': datetime.datetime(2020, 8, 24, 14, 45, tzinfo=<UTC>), 'openBid': 105.826, 'openAsk': 105.84, 'highBid': 105.86, 'highAsk': 105.874, 'lowBid': 105.8, 'lowAsk': 105.814, 'closeBid': 105.845, 'closeAsk': 105.859, 'volume': 1837}, {'index': 499, 'time': datetime.datetime(2020, 8, 24, 15, 0, tzinfo=<UTC>), 'openBid': 105.845, 'openAsk': 105.857, 'highBid': 105.866, 'highAsk': 105.88, 'lowBid': 105.845, 'lowAsk': 105.857, 'closeBid': 105.854, 'closeAsk': 105.866, 'volume': 267})]
(Background on this error at: http://sqlalche.me/e/13/f405)